@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40%);
    opacity: 0;
    
  }
}

.animate-slide-up {
  animation: slide-up 1.3s ease forwards;
}

.animate-bg-bbs {
  animation: color-change1 1.3s ease forwards;
}
.animate-bg-pnt {
  animation: color-change2 1.3s ease forwards;
}



.animate-fade-in-button {
  opacity: 0;
  animation: fadeAndGrow1 .8s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--word-index));
}
@keyframes fadeAndGrow1 {
  0% {
    opacity: 0;
    transform: scale(.7);
    
  }
  100% {
    opacity: 1;
    transform: scale(1);
   
  }
}
.animate-fade-in-word {
  opacity: 0;
  animation: fadeAndGrow2 .8s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--word-index));
}
@keyframes fadeAndGrow2 {
  0% {
    opacity: 0;
   
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    
    transform: translateY(0px)
  }
}

.animate-fade-out-button {
  opacity: 1;
  animation: fade-out-btn .6s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--out-index));
}

@keyframes fade-out-btn {
  0% {
    opacity: 1;
   
  }
  100% {
    opacity: 0;
    
  }
}

.animate-blowup-button {
  opacity: 1;
  animation: blowup-btn 1.3s ease-in forwards;
  animation-delay: calc(0.2s * var(--blowup-index));
}

@keyframes blowup-btn {
  0% {
    transform: scale3d(1, 1, 1);
   
  }
  55% {
    transform: scale3d(13, 1.1, 1);
   
  }
  70% {
    transform: scale3d(13, 1.1, 1);
   
  }
 
  100% {
    transform: scale3d(13, 42, 1);
    
  }
}


.animate-fade-out-words {
  opacity: 1;
  animation: fade-out 1s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--out-index));
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}




@keyframes color-change1 {
  0% {
    background-color: #e2e8f0;
  }
  100% {
    background-color: #ffe4e6;
    
  }
}

@keyframes color-change2 {
  0% {
    background-color: #e2e8f0;
  }
  100% {
    background-color: #ff0000;
    
  }
}

/* HOVER EFFECTS TO CHANGE MAP COLOR */
.map0{
  fill:#414141
  }
.map1{
  fill:#9961b3
  }
  .map2{
  fill:#826ec7
  }
  .map3{
  fill:#6b7bd1
  }
  .map4{
    fill:#61b0b6
  }
  .map5{
    fill:#72c494
  }
  .map6{
  fill:#819b60
  }
  .map1:hover {
    fill:#efc7ff
  }
  .map2:hover {
    fill:#cfc6ff
  }
  .map3:hover {
    fill:#bacaff
  }
  .map4:hover {
    fill:#c2fdff
  }
  .map5:hover {
    fill:#c9ffde
  }
  .map6:hover {
    fill:#ddffc9
  }

