.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOVER EFFECTS TO CHANGE MAP COLOR */
.map0{
  fill:#414141
  }
.map1{
  fill:#9961b3
  }
  .map2{
  fill:#826ec7
  }
  .map3{
  fill:#6b7bd1
  }
  .map4{
    fill:#61b0b6
  }
  .map5{
    fill:#72c494
  }
  .map6{
  fill:#819b60
  }
  .map1:hover {
    fill:#efc7ff
  }
  .map2:hover {
    fill:#cfc6ff
  }
  .map3:hover {
    fill:#bacaff
  }
  .map4:hover {
    fill:#c2fdff
  }
  .map5:hover {
    fill:#c9ffde
  }
  .map6:hover {
    fill:#ddffc9
  }

