/* hide scrollbar for chrome, safari and opera */
::-webkit-scrollbar {
  display: none;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #c55a5a;
}

.animate-slide-up {
  animation: slide-up 1.3s ease forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40%);
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out-landing 0.3s ease forwards;
}

@keyframes fade-out-landing {
  0% {
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-in-button {
  opacity: 0;
  animation: fadeAndGrow1 0.8s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--word-index));
}
@keyframes fadeAndGrow1 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fade-in-word {
  opacity: 0;
  animation: fadeAndGrow2 0.8s ease-in-out forwards;
  animation-delay: calc(0.3s * var(--word-index));
}
@keyframes fadeAndGrow2 {
  0% {
    opacity: 0;

    transform: translateY(20px);
  }
  100% {
    opacity: 1;

    transform: translateY(0px);
  }
}

.animate-mapfade-in-word {
  opacity: 0;
  animation: fadeAndGrow3 0.5s ease-in-out forwards;
  animation-delay: calc(0.15s * var(--word-index));
}

.animate-mapfade2-in-word {
  opacity: 0;
  animation: fadeAndGrow3 0.5s ease-in-out forwards;
  animation-delay: calc(0.05s * var(--word-index));
}
@keyframes fadeAndGrow3 {
  0% {
    opacity: 0;

    transform: translateY(70px);
  }
  100% {
    opacity: 1;

    transform: translateY(0px);
  }
}

.animate-fade-out-button {
  opacity: 1;
  animation: fade-out-btn 0.6s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--out-index));
}

@keyframes fade-out-btn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-blowup-button {
  opacity: 1;
  animation: blowup-btn 1.3s ease-in forwards;
  animation-delay: calc(0.2s * var(--blowup-index));
}

@keyframes blowup-btn {
  0% {
    transform: scale3d(1, 1, 1);
  }
  55% {
    transform: scale3d(13, 1.1, 1);
  }
  70% {
    transform: scale3d(13, 1.1, 1);
  }

  100% {
    transform: scale3d(13, 42, 1);
  }
}

.animate-squish-button {
  opacity: 1;
  animation: squish-btn 0.3s ease-in forwards;
  animation-delay: calc(0.2s * var(--blowup-index));
}

@keyframes squish-btn {
  0% {
    transform: scale3d(1, 1, 1);
  }
  20% {
    transform: scale3d(0.8, 1.4, 1);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(0, 1, 1);
  }
}

.animate-out-up {
  -webkit-animation: out-up 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: out-up 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation-delay: calc(0.15s * var(--swoop-index));
}

@keyframes out-up {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

.animate-out-down {
  animation: out-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: calc(0.17s * var(--swoop-index));
}

@keyframes out-down {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-80px);
    opacity: 0;
  }
}

.animate-in-up {
  -webkit-animation: in-up 0.7s both;
  animation: in-up 0.7s both;
}

@keyframes in-up {
  0% {
    -webkit-transform: translateY(400px) scaleY(2.5) scaleX(0.2);
    transform: translateY(400px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.animate-fade-out-words {
  opacity: 1;
  animation: fade-out 1s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--out-index));
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-mapfade-out-words {
  opacity: 1;
  animation: fade-out 0.6s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--out-index));
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.pulse-animation {
  animation-name: pulse;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* HOVER EFFECTS TO CHANGE MAP COLOR */
.map0 {
  fill: #414141;
}
/* .map1 {
  fill: #9961b3;
}
.map2 {
  fill: #9961b3;
}
.map3 {
  fill: #9961b3;
}
.map4 {
  fill: #61b0b6;
}
.map5 {
  fill: #61b0b6;
}
.map6 {
  fill: #61b0b6;
}
.map7 {
  fill: #6f90f3;
}
.map8 {
  fill: #6f90f3;
}
.map9 {
  fill: #cadd18;
}
.map10 {
  fill: #cadd18;
}
.map11 {
  fill: #cadd18;
}
.map12 {
  fill: #819b60;
}

.map1:hover {
  fill: #efc7ff;
}
.map2:hover {
  fill: #cfc6ff;
}
.map3:hover {
  fill: #bacaff;
}
.map4:hover {
  fill: #97f4f7;
}
.map5:hover {
  fill: #97f4f7;
}
.map6:hover {
  fill: #97f4f7;
}
.map7:hover {
  fill: #97c2fa;
}
.map8:hover {
  fill: #97c2fa;
}
.map9:hover {
  fill: #ddffc9;
}
.map10:hover {
  fill: #ddffc9;
}
.map11:hover {
  fill: #ddffc9;
}
.map12:hover {
  fill: #b0cd8b;
} */

.dropDown {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .home {
    margin-left: 0;
  }
  .dropDown {
    margin-right: 0;
  }
}

.welcome {
  color: #6b7bd1;
  font-size: 3rem;
  font-weight: bold;
  margin: 70px auto;
  text-align: center;
}

.message {
  color: #826ec7;
  font-size: 2rem;
  margin: 50px auto;
  text-align: center;
  width: 70%;
}
